.left{
    left:-300px;
    transition:200ms linear 50ms;
}

.right{
    left:0px;
    transition:200ms linear 50ms;
}

.rright{
    left:300px;
    transition:200ms linear 50ms;
}

.nav{
    position:absolute;
    top: 62px;
    display: grid;
    background-color: rgb(240, 240, 240);
    width:100%;
    border-bottom: 1px grey solid;
    border-top: 1px grey solid;
    left: 0;
    right: 0;
    transition:200ms linear 50ms;
}

.remove{
    position:absolute;
    top: -300px;
    display: grid;
    background-color: rgb(240, 240, 240);
    width:100%;
    border: 1px grey solid;
    left: 0;
    right: 0;
    transition:200ms linear 50ms;
}


